# registry=https://arti.avl.com/artifactory/api/npm/npm-release
# proxy=null
# https-proxy=null
# sass_binary_site=https://arti.avl.com/artifactory/api/npm/npm-release/node-sass




registry=https://artifactory.avl.com/artifactory/api/npm/npm-development
timeout=100000


@avl-community:registry=https://artifactory.avl.com/artifactory/api/npm/npm-development

; binary needed for node-sass
sass_binary_site=https://artifactory.avl.com/artifactory/repo-vendor/GitHub/node-sass
