<div class="container">
    <h1 class="text-center">Inventory Management</h1>
    <avl-button id="eventsButton" (click)="addProduct()">Add</avl-button>

    <avl-card>
      <h2 slot="title">Title goes here</h2>
      <h3 slot="subtitle">Subtitle goes here</h3>
      <div slot="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <div slot="actions">
        <avl-button>Action 1</avl-button>
        <avl-button>Action 2</avl-button>
      </div>
    </avl-card>

</div>


