/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@avl-styles/controls/dist/avl-controls.css';
@import '../node_modules/@avl-styles/common/dist/avl-styles.css';
@import '../node_modules/@avl-styles/svgs/dist/avl-iconlibrary-svg.css';
@import '../node_modules/@avl-styles/icons/dist/material-design-icons.css';
@import '../node_modules/@avl-styles/icons/dist/font-awesome.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/@avl-styles/mat-table/dist/avl-mat-table.css";


.avl-button-container {
  display: flex;
  float: left;
  width: 100%;
}
.avl-button-container > * {
  margin-left: 8px;
}
.avl-button-container > *:first-of-type {
  margin-left: 0px;
}